*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

h1{
       margin: 20px;
}

.login-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.login-box {
    background: #ffffff;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;

}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;

}

.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #1e3c72;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #16325c;
}

.login-box a{
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #1e3c72;
    font-size: 14px;
}

/* GRID RESPONSIVO */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;

}

/* CARD */
.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;

}

/* EFEITO HOVER */
.card:hover {
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
  
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0 5px;
}

.quiz {
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;

}

.opcao {
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #eee;

}

.opcao.correta {
    background: #4caf50;
    color: white;
}

.opcao.errada {
    background: #f44336;
    color: white;
}

/* RESPONSIVO EXTRA */
@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }
}

       .botão {
    display: inline-block;
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}




.opcoes {
    display: grid;
    gap: 10px;
    margin-top: 20px;

}


html, body{
    overflow: hidden;
}






